#contact {
  margin: 0px auto;
  padding: 0px 0px 50px 0px;
  /* max-width: 1000px; */
}
.Contact-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-top: 4rem;
}

.Contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 0 4rem;
}
.Contact-main-message {
  font-size: 2rem;
  font-weight: 700;
  padding: 1rem 0;
  color: white;
}
.Contact-secondary-message {
  font-size: 1.4rem;
  font-weight: 700;

  color: rgb(255 255 255 / 73%);
}
.Contact-form-input {
  padding: 28px 20px;
  font-size: 1.5rem;
  color: white;
  background-color: transparent;
  border: 4px solid white;
  border-radius: 20px;
  outline-style: none;
  box-shadow: none;
  transition: all var(--speed);
  background-color: rgba(255, 255, 255, 0.186);
}
.Contact-form-input:focus,
.Contact-form-input:focus-within,
.Contact-form-input:hover {
  transform: scale(1.005);
  cursor: text;
  border: 4px solid var(--green);
  transition: all var(--speed);
}
.Contact-form-input::placeholder {
  color: white;
}
.Contact-form-label {
  font-size: 1.1rem;
  font-weight: 700;
  padding: 0.5rem;
  color: white;
}

.Contact-form-input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem 0;
}
.Contact-form-submit {
  display: flex;
  margin: 2rem 1rem 0 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 28px 20px;
  text-decoration: none;
  border: 3px solid rgba(53, 52, 52, 0.539);
  background-color: #59b09c;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.Contact-form-submit:hover {
  filter: brightness(1.005);
  border: 3px solid white;
  transition: all var(--speed);
}

.SocialMediaIcon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px 20px;
  margin-bottom: 1rem;
  text-decoration: none;
  border: 3px solid rgba(53, 52, 52, 0.539);
  background-color: #59b09c;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  margin-right: 1rem;
}
.SocialMediaIcon-button:hover {
  border: 3px solid white;
  transform: scale(1.05);
}

.Contact-social-container {
  width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.Contact-social-container-title {
  font-size: 1.5rem;
  padding: 1rem;
  font-weight: 700;
  color: white;
}
.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #fffbfe;
}
@media only screen and (max-width: 800px) {
  .Contact-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    /* padding: 1rem 3rem;*/
  }
}
