/*Dark Mode transition*/
.transition{
    transition: all .6s linear;
}
.header-wrapper{
    display: flex;
    width: 100%;
    flex: 0 3 auto;
    height: 30%;
}

.header{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 100px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    width: 100%;
}
.header-dark{
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    height: 100px;
   width: 100%;
    display: flex;
    align-items: center;
    padding-top: 0;
    background-color: #222222;
    color: white;

}
.logo{
    width: auto;
    margin-left: 10vw;
    color: black;
    font-size: 40px;
}
.logo-dark{
    width: auto;
    margin-left: 10vw;
    color: white;
    font-size: 40px;
}
.nav-links{
    display: flex;
    align-items: center;
    
}
.navlinks img{
    margin-right: 10vw;
    margin-left: auto;
}
.nav-links #links {
    padding-left: 120px;
    cursor: pointer;
    pointer-events: all;
}
.dark-mode-image{
    cursor: pointer;
    pointer-events: all;
}