/*Dark Mode transition*/
.transition {
  transition: all var(--speed-slow) linear;
}
.header-wrapper {
  display: flex;
  width: 100%;
  flex: 0 3 auto;
  height: 30%;
}

.header {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  height: 100px;
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
}

.logo {
  width: auto;
  color: #58b09c;
  font-size: 40px;
  display: flex;
  cursor: pointer;
}
.logo-dark {
  width: auto;
  color: #58b09c;
  font-size: 40px;
  cursor: pointer;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
.navlinks img {
  margin-right: 10vw;
  margin-left: auto;
}
#links {
  padding-left: 6rem;
}
#links:last-child {
  padding-right: 7rem;
  margin-left: auto;
}
#links h2 {
  cursor: pointer;
  pointer-events: all;
}

#links:hover {
  transition: all var(--speed);
  color: var(--green);
}
.dark-mode-image {
  cursor: pointer;
  pointer-events: all;
  stroke: var(--green);
  color: green;
}

/* Mobile Responsiveness */

.hamburger-bar {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .nav-links div {
    display: none;
  }
  .hamburger-bar {
    display: block !important;
    height: 100%;
    margin-left: auto;
    display: flex;
    margin-right: 3vw;
    height: 4rem;
    stroke: #58b09c;
    cursor: pointer;
    animation: var(--speed-slow) appear ease;
  }
  .hamburger-bar-inactive {
    display: block !important;
    height: 100%;
    margin-left: auto;
    display: flex;
    margin-right: 3vw;
    height: 4rem;
    stroke: #58b09c;
    cursor: pointer;
    animation-duration: var(--speed-slow);
    animation-name: dissapear;
    animation-fill-mode: forwards;
  }
  @keyframes appear {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes dissapear {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
