#portfolio {
  background-color: var(--purple);
}
.portfolio-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}
.portfolio-header {
  flex: 1 1;
  display: flex;
  align-items: center;
  color: white;
  justify-content: flex-start;
}
.project {
  display: flex;
}
.project-overview {
  text-align: right;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.project-overview > div {
  margin-bottom: 1rem;
}

.project-image-container {
  width: 600px;
  height: 325px;
  opacity: 0.99;
}
.project-image-fit {
  height: 100%;
  /*object-fit: cover; /*magic*/
  object-fit: contain;
  position: absolute;
  z-index: -1;
  width: 100%;
}
.portfolio-image-filter {
  width: 100%;
  height: 100%;
  background-color: var(--faded-green);
  position: relative;
}
.project-title {
  color: white;
  padding-bottom: 1rem;
}
.project-description {
  color: white;
  font-size: 1.1rem;
}
.project-technologies {
  display: flex;
  flex-direction: column;
  color: white;
}

@media only screen and (max-width: 800px) {
  .portfolio-container,
  .portfolio-container-light {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 1.5rem;
    width: auto !important;
  }
  .project {
    flex-direction: column;
  }
  .project-image {
    width: 100% !important;
  }
  .project-overview {
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100% !important;
    text-align: left;
    padding-left: 0;
  }
  .project-image-container {
    height: 275px;
  }
  .project-title {
    margin-top: 1rem;
    margin-bottom: 0 !important;
  }
  .project-technologies {
    width: 100%;
  }
}
