/* dark mode*/
.dark{
    color: white;
    
}
.transition{
    transition: all .6s linear;
}




.background{
    width: 100vw;
    height: 1000px;
    background-color: #6184D8;
    
}
.main-content{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    
    
}
.main-card{
    background-color: white;
    display: flex;
    flex-direction: column;
    
    height: 80vh;
    width: 85vw;
    border-radius: 40px;
    max-width: 1400px;
    justify-content: space-around;
}
.main-card-dark{
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 85vw;
    border-radius: 40px;
}

.main-card-body{
    position: relative;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.greeting{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.greeting-intro{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.vulcan{
    height: 15vh;
}
.greeting-intro-text{
    padding-left: 2rem;
    font-size: 2rem;
}

.greeting-profession-text{
    margin-top: 2rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    

}

@keyframes typing{
    from {width: .1%}
    to {width: 100%}
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: purple; }
  }
.professions{
    display: flex;
    overflow: hidden;
    white-space: nowrap;
    margin-right: auto;
    letter-spacing: .01em;
    /*
    border-right: .15em solid purple;
    animation: 
    typing 3.5s steps(50, end),
    blink-caret .75s step-end infinite;
    */
    padding-left: 1.25rem;
    color: lightgrey;
}
/*
.animate
{
    letter-spacing: .01em;
    border-right: .15em solid purple;
    animation: 
    typing 3.5s steps(50, end),
    blink-caret .75s step-end infinite;
    padding-left: 1.25rem;
}
*/

/* Main card image */
.main-card-abstract-image{
    display: flex;
    justify-self: center;
}
.main-card-abstract-image img{
    margin-top: 2rem;
    height: 20rem;
}
.chevron-down{
    cursor: pointer;
    pointer-events: all;
    display: flex;
    align-self: center;
    margin-top: 1rem;
    animation: promptDown .75s step-end infinite;
    justify-self: flex-end;
    flex: 0 2 auto;
}
.chevron-down img{
    height: 6rem;
}
@keyframes promptDown {
    from {transform: translate(-20px); }
    to {transform: translate(5px);}
}