.project {
  margin-bottom: 6rem;
  max-width: inherit;
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  background-color: var(--purple);
}
.project-light {
  margin-bottom: 6rem;
  max-width: inherit;
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  background-color: var(--blue);
}
.project {
  display: flex;
}
.project-image {
  width: 60%;
  display: flex;
}
.project-overview {
  width: 40%;
  padding-left: 2rem;
  box-sizing: border-box;
  flex-basis: auto;
  flex: 1 1 auto;
}
.project-technologies {
  display: flex;
}
.list-of-technology-title {
  font-size: 1.2rem;
}
.list-of-technology {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: inherit;
  margin: 1rem o;
}

.technologies-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  white-space: nowrap;
}
.dev-icon {
  margin-bottom: 0.5rem;
}

.technologies-icon img {
  width: 25px;
  height: 25px;
}
.technologies-icon:last-child {
  margin: 0 0;
}
.project-links {
  margin-top: 1rem;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.action-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}
.action-icon {
  background-color: var(--dark-grey);
  border: 3px solid black;
  width: 65px;
  height: 65px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.action-icon-light {
  background-color: #191919ad;
  border: 3px solid black;

  width: 65px;
  height: 65px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.action-icon-img-light svg,
.external-link svg {
  width: 34px;
  height: 34px;
  stroke: black;
}
.action-icon:hover,
.action-icon-light:hover {
  transition: filter var(--speed);
  filter: brightness(120%);
  cursor: pointer;
  border: 3px solid var(--green);
}
.action-icon-img svg {
  width: 34px;
  height: 34px;
  stroke: white;
}
.action-icon-text {
  font-size: 0.5rem;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .project-overview {
    margin-top: 2rem;
  }
  .project-description {
    margin-top: 1rem;
  }
  .project-links {
    width: 100%;
  }
  .project-overview {
    padding-left: 0;
  }
}
@media only screen and (max-width: 400px) and (max-height: 790px) {
  .list-of-technology {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 150px);
    row-gap: 30px;
  }
  .project-links {
    justify-content: flex-start;
  }
  .action-icon {
    margin-right: 0;
    margin: 1rem;
  }
}
/*iPhone 5*/
@media only screen and (max-width: 321px) and (max-height: 570px) {
  .list-of-technology {
    grid-template-columns: repeat(3, auto);
  }
  .project-light {
    margin-top: 0;
  }
  .action-icon {
    margin: 0;
    margin-right: 1rem;
  }
}
