.project {
  margin-bottom: 6rem;
  max-width: inherit;
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}
.project-image {
  width: 100%;
  display: flex;
}
.project-overview {
  margin-left: 1rem;
  box-sizing: border-box;
  flex-basis: auto;
  flex: 1 1 auto;
}
.project-technologies {
  display: flex;
  background-color: rgba(184, 184, 184, 0.281);
  padding: 1rem;
}
.list-of-technology-title {
  font-size: 1.2rem;
}
.list-of-technology-icons {
  display: flex;
  margin: 2rem 0 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-of-technology-icons img {
}
.technologies-icon {
  margin: 0 1rem;
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  white-space: nowrap;
}
.technologies-icon:last-child {
  padding: 0 0 0 1rem;
  margin: 0 0 0 0;
}
