.project {
  margin-bottom: 6rem;
  max-width: inherit;
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
}
.project-image {
  width: 60%;
  display: flex;
}
.project-overview {
  width: 40%;
  padding-left: 1rem;
  box-sizing: border-box;
  flex-basis: auto;
  flex: 1 1 auto;
}
.project-technologies {
  display: flex;
}
.list-of-technology-title {
  font-size: 1.2rem;
}
.list-of-technology {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: inherit;
  margin: 1rem o;
}

.technologies-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  white-space: nowrap;
}
.dev-icon {
  margin-bottom: 0.5rem;
}

.technologies-icon img {
  width: 25px;
  height: 25px;
}
.technologies-icon:last-child {
  margin: 0 0;
}
.project-links {
  margin-top: 1rem;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.action-icon {
  background-color: var(--dark-grey);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem;
}
.action-icon img {
  width: 34px;
  height: 34px;
}
.action-icon span {
  color: white;
  font-size: 0.5rem;
  text-align: center;
}
